body {
    font-family: Arial, sans-serif;
    background: linear-gradient(-45deg, #606060, #606060, #606060, #606060);
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20% auto;
    background: linear-gradient(-45deg, #aeaeae75, #aeaeae75, #aeaeae75, #aeaeae75);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

section {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 15px;
    margin-left: 20%;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

input, select, button {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 23%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #1500ff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #070052;
}

.form1 {
    background: #00000042;
    display: block;
    text-align: center;
    position: absolute;
    top: 53%;
    left: 9%;
    width: 15%;
    height: 6%;
}

.form2 {

    background: #00000042;
    display: block;
    text-align: center;
    position: absolute;
    top: 91.3%;
    left: 9%;
    width: 15%;
    height: 6%;
}

.form3 {

    background: #00000042;
    display: block;
    text-align: center;
    position: absolute;
    top: 121%;
    left: 9%;
    width: 18%;
    height: 6%;
}

.form4 { 
    background: #00000042;
    display: block;
    text-align: center;
    position: absolute;
    top: 141.5%;
    left: 9%;
    width: 17.5%;
    height: 6%;
}