/* ########################################### */
/*            detail.html                      */
/* ########################################### */

.head{
    display: flex;
    justify-content: center;
    padding: 5px;
    font-weight: bold;

}

.authors{
 font-family: 'Roboto', sans-serif;
    font-size: 17px;
    flex: 20%;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba(83, 83, 83, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.content{
    flex: 80%;
}

.body{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 5px;
    background: rgba( 255, 255, 255, 0.25 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.body .authors .username{
    font-size: 25px;
}
.fa-car
.body .authors img{
    max-width: 50px;
    max-height: 80px;
}

.body .content .comment button{
    border:none;
    padding:10px;
    font-weight: bolder;
    box-shadow: 4px 6px #fff;
    cursor: pointer;
    float: right;
}

/* comment section */
.comment-area{
    margin-bottom:50px;
}

.comment-area textarea{
    width: 100%;
    min-height: 100px;
    padding: 10px;
    margin-block: 10px;
}

.comment-area input{
    float: right;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.comment-area input:hover{
    border: solid 1px #000000;
}



.material-symbols-outlined {
    font-variation-settings:
            'FILL' 10,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48



}


















:root{
    --link-color: #1500ff7b;
    --primary-color-opacity: #e9d5ff;
    --white-shade: #f0f8ff;
    --secondary-color:#1e293b;
    --primary-padding: 8px;
    --pilled-shape-radius: 40px;
    --color1: #36EB84;
    --color2: #2BCDB5;
    --primary-gradient: linear-gradient(to right,var(--color2), var(--color1))
}


body{
    min-height: 100vh;

    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background: linear-gradient(-45deg, #606060, #606060, #606060, #606060);

    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100%;

}

.container{
    padding: 15px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
}
.item-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.log-in{
    font-size: 35px;
    color: var(--secondary-color);
}
.log-in::after{
    content: "";
    display: block;
    width: 60%;
    height: 3px;
    margin-top: 8px;
    background: var(--primary-gradient);
    margin-inline: auto;
}
.form-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
input[type="text"], input[type="password"]{
    padding: var(--primary-padding);
    width: 300px;
    border-radius: var(--pilled-shape-radius);
    border: none;
    background: #E7FDF0;
    color: var(--secondary-color);
    outline: none;
    border: 1px solid transparent;
}
@media only screen and (max-width: 300px) {
    input[type="text"], input[type="password"] {
        width: 200px;
    }
}
input[type="text"]:focus-visible, input[type="password"]:focus-visible{
    border: 1px solid var(--color1);
    background: transparent;
}
.label{
    color: var(--secondary-color);
    margin-bottom: 3px;
}
.display-space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 10px 0;
}

.item-container button{
    border-radius: 50%;
    border: none;
    padding: 5px;
    background: transparent;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px #353636;
}

button[type="submit"]{
    width: 10%;

    border-radius: var(--pilled-shape-radius);
    border: none;
    background: var(--primary-gradient);
    color: var(--white-shade);
    outline: none;
    margin-left: 80%;
    cursor: pointer;
    padding: 5px;
    box-shadow: 2px 2px 5px #353636;
    margin-bottom: 10px;
}
.chekbox-label{
    font-size: 14px;
}

a{
    text-decoration: none;
    color: var(--link-color);
    font-size: 14px;
}


img.imageprofile{
    width:50px; /* you can use % */
    height: auto;
    border-radius: 50%;
}

.signin {

    color: var(--secondary-color);
    position: relative;
    justify-content: flex-end;

}
.thumbsup{
    max-width: 20px;
    color: var(--color1);
    font-size: 20px;
    margin-right: 10px;

    animation: rotate 1s ;
    
}
.thumbsdown {
    max-width: 20px;
    color: var(--color1);
    font-size: 20px;
    margin-right: 10px;
    rotate: 180deg;

    animation: rotate 1s ;

}

.thumbsdown:hover{
    animation: shake 0.5s;
    max-width: 25px;
    


}
.thumbsup:hover {
    animation: shake 0.5s;
    max-width: 25px;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes shake {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(-10px, 0px);
    }
    100% {
        transform: translate(0px, 0px);
    }

}

.vote-count {
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.vote-count.voted {
    color: green; /* Changez cette couleur selon vos préférences */
}

.thumbsup, .thumbsdown {
    cursor: pointer;
}