body {
    font-family: 'Kdam Thmor Pro', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(-45deg, #00c7ff, #00b2ff, #0e9db4, #23d5ab);

    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100%;

}

.container {
    padding: 15px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
}

.item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.log-in {
    font-size: 35px;
    color: var(--secondary-color);
}

.log-in::after {
    content: "";
    display: block;
    width: 60%;
    height: 3px;
    margin-top: 8px;
    background: var(--primary-gradient);
    margin-inline: auto;
}

.form-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

input[type="text"], input[type="password"] {
    padding: var(--primary-padding);
    width: 300px;

    border-radius: 20px;
    background: #E7FDF0;
    color: var(--secondary-color);
    outline: none;
    border: 1px solid transparent;
}

@media only screen and (max-width: 300px) {
    input[type="text"], input[type="password"] {
        width: 200px;
    }
}

input[type="text"]:focus-visible, input[type="password"]:focus-visible {
    border: 1px solid var(--color1);
    background: transparent;

}
@keyframes input {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}
input:focus-visible {
    animation: input 0.5s ease-in-out;
    background-color: black;
}

.label {
    color: var(--secondary-color);
    margin-bottom: 3px;
}

.display-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 10px 0;
}

.item-container button {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    border: none;
    padding: 5px;
    background: transparent;

    margin-left: 20px;
    box-shadow: 2px 2px 5px #353636;
}

button[type="submit"] {
    display: flex;
    justify-content: center;
    width: 100%;

    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

}
.button{
    background: var(--primary-gradient);
    color: var(--secondary-color);
    border-radius: 20px;
    border: none;
    padding: 5px;
    box-shadow: 2px 2px 5px #353636;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}
@keyframes button-animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


.button:hover{
    animation: button-animation 0.7s ease-in-out;


}



.chekbox-label {
    font-size: 14px;
}

a {
    text-decoration: none;
    color: var(--link-color);
    font-size: 14px;
}

