{{ define "LoggedHeader" }}
<div class="header">
    <a href="/" class="logo"><i class="fa fa-solid fa-user"></i>FORUM</a>
    <div class="header-right">
        <a class="active" href="/">Home</a>
        <a href="/filter?by=liked">Liked Posts</a>
        <a href="/filter?by=myposts">My Posts</a>
        <a href="/newpost">New post</a>
        <a href="/api/logout">Log out</a>
        <a href="/profile">Profile</a>
    </div>
</div>
{{ end }}

{{ define "DefaultHeader" }}
<div class="header">
    <a href="/" class="logo"><i class="fa fa-solid fa-user"></i>FORUM</a>
    <div class="header-right">
        <a class="active" href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>
</div>
{{ end }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="public/CSS/profil.css">
</head>

<body>
    <header>
        {{ if .IsLoggedIn }}
        {{ template "LoggedHeader" . }}
        {{ else }}
        {{ template "DefaultHeader" . }}
        {{ end }}
    </header>

    <div class="container">
        <section>
            <h2>Your Informations</h2>
            <form id="addUserForm">
                <label for="username">Username: {{ .Username }}</label>
                <label for="email">Email: {{ .Email }}</label>
                <label for="password">Password</label>
                <button type="submit">Modify</button>
            </form>
        </section>
    </div>

    <footer>
        <div class="footer-container">
            <div class="footer-row">
                <div class="footer-column">
                    <h1>FORUM &copy</h1>
                    <p>thanks for using this forum and we hope you enjoy it.</p>
                </div>
            </div>
        </div>
    </footer>

    <div class="pic">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/2048px-Circle-icons-profile.svg.png" width="10%" />
        <h3>Your Profile Picture</h3>
    </div>

    <div class="form1"></div>
    <div class="form2">
    </div>
</body>
</html>
